* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url(Demo_Shop/patt.png);
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  margin: 0 -15px;
}
[class*="col-"] {
  padding: 0 15px;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  align-items: center;
}
.col-3-main {
  flex: 0 0 25%;
  max-width: 25%;
}
.main-filter {
  padding: 30px;
}
.filter-name {
  padding: 0 0 10px 0;
  font-size: 21;
  color: white;
  font-weight: bolder;
}
.filter-item {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 21;
  color: white;
  font-weight: 100;
}
input[type="checkbox"] {
  display: none;
}
label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid white;
  margin-right: 10px;
}
input[type="checkbox"]:checked + label::before {
  background-color: white;
}
.first-filter {
  padding: 0 0 30px 0;
}
.second-filter {
  padding: 0 0 30px 0;
}
.footer-filter {
  padding: 30px 0;
}
.list-style-footer-filter {
  padding: 0 0 30px 0;
}
.more-info-footer {
  color: white;
  text-decoration: none;
  font-size: 21;
  font-weight: 100;
}
.btn-filter-footer {
  border: 1px solid white;
  width: 210px;
  height: 50px;
  background-color: #2c71b8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.list-style-footer-filter {
  list-style: none;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
}
.menu .flex-menu {
  width: 25%;
  border-left: 1px solid #2c71b8;
}
.menu:last-child {
  border-right: 1px solid #2c71b8;
}
.menu .menu-a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #2c71b8;
  font-weight: 300;
  text-decoration: none;
}
.menu .menu-a:hover {
  background-color: #2c71b8;
  color: white;
}
.flex {
  width: 200px;
  height: 40px;
  border: 1px solid #2c71b8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
}
.header-search {
  width: 150px;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}
.header-button {
  width: 30px;
  height: 30px;
  background-color: #2c71b8;
  outline: none;
  border: none;
  cursor: pointer;
}
::placeholder {
  color: #2c71b8;
}
.cart-button {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.numbers-cart {
  background-color: #2c71b8;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  position: absolute;
  margin-top: -30px;
  margin-left: -17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.dropdown-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  background-color: #2c71b8;
  left: -1px;
  width: 285px;
}
.relative {
  position: relative;
}
.sub-menu-item a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 30px;
  line-height: 40px;
}
.dropdown-header {
  visibility: hidden;
}
.flex-menu:hover .dropdown-header {
  visibility: visible;
}
.flex-menu:hover a {
  background-color: #2c71b8;
  color: white;
}
.pointer:hover > a {
  background-image: url(Demo_Shop/white-down-arrow.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 20px center;
}
.sub-menu-item:hover {
  background-color: white;
}
.sub-menu-item:hover a {
  background-color: white;
  color: #2c71b8;
}
.dropdown-header {
  visibility: hidden;
}
.flex-menu:hover .dropdown-header {
  visibility: visible;
}
.cart-button {
  background-image: url(Demo_Shop/cart-blue.png);
  background-position: center;
  background-repeat: no-repeat;
}
.cart-button:hover {
  background-color: #2c71b8;
  background-image: url(Demo_Shop/cart-white.png);
}
.slide {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.2);
}
.main-filter {
  border-right: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  height: 845px;
}
.breadcrumbs-list {
  list-style: none;
  padding: 30px 0 25px 0;
  margin: 0;
  display: flex;
}
.breadcrumbs-list a {
  text-decoration: none;
  color: white;
}
.breadcrumbs-list li:not(:last-child)::after {
  content: ">";
  margin: 0 5px;
  color: white;
}

.breadcrumbs-list li:last-child a {
  text-decoration: underline;
}
.title-name {
  display: flex;
  justify-content: space-between;
  padding: 0 0 25px 0;
}
.sort-menu {
  width: 270px;
  height: 40px;
  border: 1px solid white;
  color: white;
  font-weight: 300;
  background-color: #2c71b8;
  position: relative;
  line-height: 40px;
}
.sort-menu a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
.dropdown-menu-sort {
  position: absolute;
  top: 100%;
  z-index: 1;
  left: -1px;
  width: 270px;
  height: 122px;
  border: 1px solid white;
  color: white;
  font-weight: 300;
  background-color: #2c71b8;
  visibility: hidden;
}
.sort-menu a {
  display: block;
  width: 100%;
}
.dropdown-hover:hover a {
  background-color: white;
  color: #2c71b8;
}
.sort-menu:hover .dropdown-menu-sort {
  visibility: visible;
}
.sort_pointer {
  background-image: url(Demo_Shop/white-down-arrow.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 15px;
}
.title-laptops {
  font-size: 45px;
  color: white;
}
.main-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.section {
  width: 270px;
  height: 680px;
  border: 1px solid white;
  backdrop-filter: blur(1px);
  position: relative;
}
.pointer {
  background-image: url(Demo_Shop/blue-down-arrow.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.img {
  height: 180px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-monitor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-info {
  padding: 15px 15px;
}
.section-name {
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 0 0 10px 0;
}
.section-description {
  font-weight: lighter;
  font-size: 21px;
  color: white;
  padding: 10px 0 5px 0;
}
span {
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.cents {
  display: flex;
  font-size: 25;
  margin-bottom: 25px;
  margin-left: 8px;
}
.section-type {
  font-size: 21px;
  font-weight: lighter;
  color: white;
  padding: 10px 0 5px 0;
}
.section-size {
  font-size: 21px;
  font-weight: lighter;
  color: white;
  padding: 10px 0 10px 0;
}
.section-ram {
  font-size: 21px;
  font-weight: lighter;
  color: white;
  padding: 10px 0 15px 0;
}
.button-section-details {
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 50px;
  border: 1px solid white;
  background-color: #2c71b8;
  color: white;
}
.button-section-details:hover {
  background-color: #197bdd;
}
.button-section-cart {
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 50px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.button-section-cart:hover {
  background-color: #197bdd;
}
.section-cart-img {
  margin-left: 10px;
  order: 2;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding: 15px 0 25px 0;
}
.buttons-section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.buttons-section {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.heart-button {
  width: 30px;
  height: 30px;
  background-image: url(Demo_Shop/blue-heart.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2c71b8;
  cursor: pointer;
}
.heart-button:hover,
.liked {
  background-color: #2c71b8;
  background-image: url(Demo_Shop/white-heart.png);
}
.zoom-button {
  width: 30px;
  height: 30px;
  background-image: url(Demo_Shop/zoom-blue.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2c71b8;
  cursor: pointer;
  margin-bottom: 10px;
}
.zoom-button:hover {
  background-color: #2c71b8;
  background-image: url(Demo_Shop/zoom-white.png);
}
.product-quantity {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.slider-wrapper > div {
  text-align: center;
  font-size: 30px;
  padding: 150px 0;
  color: white;
}
.slick-prev:before,
.slick-next:before {
  color: red;
}
.slick-dots li.slick-active button:before {
  color: yellow;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}
.modal-block {
  width: 300px;
  height: 200px;
  border: 1px solid grey;
  padding: 15px;
  background-color: white;
  margin: 80px auto;
}
.form-field {
  margin: 10px 0;
}
.form-field input {
  width: 100%;
  height: 30px;
  padding: 5px;
}
.btn-close {
  text-align: right;
  cursor: pointer;
}
/* .show{
  display: block;
} */
